<div class="row">
  <div class="col s6">
    <table class="striped">
      <thead>
      <tr>
        <th>Nom</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pokedex of regions | async">
        <td>{{ pokedex.name }}</td>
        <td><button (click)="goToDetail(pokedex)">Détail</button></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col s6">
    <app-pokemon-detail [url]="currentUrl"></app-pokemon-detail>
  </div>
</div>
