<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="list">Liste des regions</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <h1>BLOP</h1>
  <router-outlet></router-outlet>
</div>
